openapi: '3.1.0'
info:
  title: 'Salable API'
  version: '0.0.0'
servers:
  - url: 'https://salable.app'
components:
  securitySchemes:
    BearerAuth:
      type: 'http'
      scheme: 'bearer'
  parameters:
    ResourceIdPathParam:
      name: 'id'
      in: 'path'
      required: true
      schema:
        type: 'string'
      description: 'Resource ID'
    IdempotencyKeyHeaderParam:
      in: 'header'
      name: 'idempotency-key'
      required: false
      schema:
        type: 'string'
        maxLength: 255
      description: 'Optional idempotency key to prevent duplicate requests. Use unique strings like V4 UUIDs to avoid collisions. The key will be deleted after 24 hours.'
  schemas:
    ErrorResponseBody:
      type: 'object'
      properties:
        title:
          type: 'string'
        detail:
          type:
            - 'string'
            - 'null'
        errors:
          type:
            - 'array'
            - 'null'
          items:
            type: 'object'
          description: 'The shape will be dependant on the error type'
    CreateProductResponseSchema:
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          additionalProperties: false
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    UpdateProductResponseSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          additionalProperties: false
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    GetProductListSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'list'
          type: 'string'
        data:
          type: 'array'
          items:
            type: 'object'
            properties:
              id:
                type: 'string'
              organisation:
                type: 'string'
              name:
                type: 'string'
              isActive:
                type: 'boolean'
              archivedAt:
                type:
                  - 'string'
                  - 'null'
              createdAt:
                type: 'string'
              updatedAt:
                type: 'string'
              plans:
                additionalProperties: false
                type: 'object'
                properties:
                  type:
                    const: 'list'
                    type: 'string'
                  data:
                    type: 'array'
                    items:
                      additionalProperties: false
                      type: 'object'
                      properties:
                        id:
                          type: 'string'
                        organisation:
                          type: 'string'
                        name:
                          type: 'string'
                        isActive:
                          type: 'boolean'
                        productId:
                          type: 'string'
                        tierTagId:
                          type:
                            - 'string'
                            - 'null'
                        trialPeriodDays:
                          type:
                            - 'integer'
                            - 'null'
                        archivedAt:
                          type:
                            - 'string'
                            - 'null'
                        createdAt:
                          type: 'string'
                        updatedAt:
                          type: 'string'
                      required:
                        - 'id'
                        - 'organisation'
                        - 'name'
                        - 'isActive'
                        - 'productId'
                        - 'tierTagId'
                        - 'trialPeriodDays'
                        - 'archivedAt'
                        - 'createdAt'
                        - 'updatedAt'
                  hasMore:
                    type: 'boolean'
                  path:
                    type: 'string'
                required:
                  - 'type'
                  - 'data'
                  - 'hasMore'
                  - 'path'
            required:
              - 'id'
              - 'organisation'
              - 'name'
              - 'isActive'
              - 'archivedAt'
              - 'createdAt'
              - 'updatedAt'
        nextCursor:
          type:
            - 'string'
            - 'null'
        previousCursor:
          type:
            - 'string'
            - 'null'
        hasMore:
          type: 'boolean'
      required:
        - 'type'
        - 'data'
        - 'nextCursor'
        - 'previousCursor'
        - 'hasMore'
    GetProductDetailSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
            plans:
              additionalProperties: false
              type: 'object'
              properties:
                type:
                  const: 'list'
                  type: 'string'
                data:
                  type: 'array'
                  items:
                    additionalProperties: false
                    type: 'object'
                    properties:
                      id:
                        type: 'string'
                      organisation:
                        type: 'string'
                      name:
                        type: 'string'
                      isActive:
                        type: 'boolean'
                      productId:
                        type: 'string'
                      tierTagId:
                        type:
                          - 'string'
                          - 'null'
                      trialPeriodDays:
                        type:
                          - 'integer'
                          - 'null'
                      archivedAt:
                        type:
                          - 'string'
                          - 'null'
                      createdAt:
                        type: 'string'
                      updatedAt:
                        type: 'string'
                    required:
                      - 'id'
                      - 'organisation'
                      - 'name'
                      - 'isActive'
                      - 'productId'
                      - 'tierTagId'
                      - 'trialPeriodDays'
                      - 'archivedAt'
                      - 'createdAt'
                      - 'updatedAt'
                hasMore:
                  type: 'boolean'
                path:
                  type: 'string'
              required:
                - 'type'
                - 'data'
                - 'hasMore'
                - 'path'
            settings:
              additionalProperties: false
              type: 'object'
              properties:
                id:
                  type: 'string'
                organisation:
                  type: 'string'
                successUrl:
                  type:
                    - 'string'
                    - 'null'
                cancelUrl:
                  type:
                    - 'string'
                    - 'null'
                allowPromoCodes:
                  type: 'boolean'
                automaticTax:
                  type: 'boolean'
                collectBillingAddress:
                  type: 'boolean'
                collectShippingAddress:
                  type: 'boolean'
                cardPrefillPreference:
                  allOf:
                    - additionalProperties: false
                      anyOf:
                        - const: 'none'
                          type: 'string'
                        - const: 'always'
                          type: 'string'
                        - const: 'choice'
                          type: 'string'
                    - anyOf:
                        - const: 'none'
                          type: 'string'
                        - const: 'always'
                          type: 'string'
                        - const: 'choice'
                          type: 'string'
                pastDueEntitlements:
                  type: 'boolean'
                productId:
                  type:
                    - 'string'
                    - 'null'
                createdAt:
                  type: 'string'
                updatedAt:
                  type: 'string'
              required:
                - 'id'
                - 'organisation'
                - 'successUrl'
                - 'cancelUrl'
                - 'allowPromoCodes'
                - 'automaticTax'
                - 'collectBillingAddress'
                - 'collectShippingAddress'
                - 'cardPrefillPreference'
                - 'pastDueEntitlements'
                - 'productId'
                - 'createdAt'
                - 'updatedAt'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    GetPlanListSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'list'
          type: 'string'
        previousCursor:
          type:
            - 'string'
            - 'null'
        nextCursor:
          type:
            - 'string'
            - 'null'
        hasMore:
          type: 'boolean'
        filterOptions:
          type: 'object'
          properties:
            currencies:
              type: 'array'
              items:
                type: 'string'
            intervals:
              type: 'array'
              items:
                type: 'object'
                properties:
                  interval:
                    type:
                      - 'string'
                      - 'null'
                  intervalCount:
                    type:
                      - 'number'
                      - 'null'
                required:
                  - 'interval'
                  - 'intervalCount'
          required:
            - 'currencies'
            - 'intervals'
        data:
          type: 'array'
          items:
            type: 'object'
            properties:
              id:
                type: 'string'
              organisation:
                type: 'string'
              name:
                type: 'string'
              isActive:
                type: 'boolean'
              productId:
                type: 'string'
              tierTagId:
                type:
                  - 'string'
                  - 'null'
              trialPeriodDays:
                type:
                  - 'integer'
                  - 'null'
              archivedAt:
                type:
                  - 'string'
                  - 'null'
              createdAt:
                type: 'string'
              updatedAt:
                type: 'string'
              product:
                additionalProperties: false
                type: 'object'
                properties:
                  id:
                    type: 'string'
                  name:
                    type: 'string'
                  archivedAt:
                    type:
                      - 'string'
                      - 'null'
                required:
                  - 'id'
                  - 'name'
                  - 'archivedAt'
              tierTag:
                additionalProperties: false
                properties: &ref_0
                  id:
                    type: 'string'
                  name:
                    type: 'string'
                  organisation:
                    type: 'string'
                  createdAt:
                    type: 'string'
                  updatedAt:
                    type: 'string'
                required: &ref_1
                  - 'id'
                  - 'name'
                  - 'organisation'
                  - 'createdAt'
                  - 'updatedAt'
                type:
                  - 'object'
                  - 'null'
              entitlements:
                type: 'object'
                properties:
                  type:
                    const: 'list'
                    type: 'string'
                  hasMore:
                    type: 'boolean'
                  path:
                    type: 'string'
                  data:
                    type: 'array'
                    items:
                      additionalProperties: false
                      type: 'object'
                      properties:
                        id:
                          type: 'string'
                        organisation:
                          type: 'string'
                        name:
                          type: 'string'
                        createdAt:
                          type: 'string'
                        updatedAt:
                          type: 'string'
                      required:
                        - 'id'
                        - 'organisation'
                        - 'name'
                        - 'createdAt'
                        - 'updatedAt'
                required:
                  - 'type'
                  - 'hasMore'
                  - 'path'
                  - 'data'
              lineItems:
                additionalProperties: false
                type: 'object'
                properties:
                  type:
                    const: 'list'
                    type: 'string'
                  hasMore:
                    type: 'boolean'
                  path:
                    type: 'string'
                  data:
                    type: 'array'
                    items:
                      type: 'object'
                      properties:
                        id:
                          type: 'string'
                        organisation:
                          type: 'string'
                        name:
                          type: 'string'
                        slug:
                          type: 'string'
                        stripeProductId:
                          type: 'string'
                        meterId:
                          type:
                            - 'string'
                            - 'null'
                        nickname:
                          type: 'string'
                        priceType:
                          allOf:
                            - additionalProperties: false
                              anyOf:
                                - const: 'metered'
                                  type: 'string'
                                - const: 'per_seat'
                                  type: 'string'
                                - const: 'flat_rate'
                                  type: 'string'
                            - anyOf:
                                - const: 'metered'
                                  type: 'string'
                                - const: 'per_seat'
                                  type: 'string'
                                - const: 'flat_rate'
                                  type: 'string'
                        intervalType:
                          allOf:
                            - additionalProperties: false
                              anyOf:
                                - const: 'one_off'
                                  type: 'string'
                                - const: 'recurring'
                                  type: 'string'
                            - anyOf:
                                - const: 'one_off'
                                  type: 'string'
                                - const: 'recurring'
                                  type: 'string'
                        billingScheme:
                          allOf:
                            - additionalProperties: false
                              anyOf:
                                - const: 'fixed'
                                  type: 'string'
                                - const: 'per_unit'
                                  type: 'string'
                                - const: 'tiered'
                                  type: 'string'
                                - const: 'flat_rate'
                                  type: 'string'
                            - anyOf:
                                - const: 'flat_rate'
                                  type: 'string'
                                - const: 'fixed'
                                  type: 'string'
                                - const: 'per_unit'
                                  type: 'string'
                                - const: 'tiered'
                                  type: 'string'
                        tiersMode:
                          allOf:
                            - anyOf:
                                - type: 'null'
                                - additionalProperties: false
                                  anyOf:
                                    - const: 'graduated'
                                      type: 'string'
                                    - const: 'volume'
                                      type: 'string'
                            - anyOf:
                                - type: 'null'
                                - anyOf:
                                    - const: 'graduated'
                                      type: 'string'
                                    - const: 'volume'
                                      type: 'string'
                        minQuantity:
                          type: 'integer'
                        maxQuantity:
                          type: 'integer'
                        isActive:
                          type: 'boolean'
                        planId:
                          type: 'string'
                        allowChangingQuantity:
                          type: 'boolean'
                        archivedAt:
                          type:
                            - 'string'
                            - 'null'
                        unitLabel:
                          type:
                            - 'string'
                            - 'null'
                        createdAt:
                          type: 'string'
                        updatedAt:
                          type: 'string'
                        meter:
                          additionalProperties: false
                          properties: &ref_2
                            id:
                              type: 'string'
                            slug:
                              type: 'string'
                            name:
                              type: 'string'
                            stripeMeterId:
                              type: 'string'
                            organisation:
                              type: 'string'
                            createdAt:
                              type: 'string'
                            updatedAt:
                              type: 'string'
                          required: &ref_3
                            - 'id'
                            - 'slug'
                            - 'name'
                            - 'stripeMeterId'
                            - 'organisation'
                            - 'createdAt'
                            - 'updatedAt'
                          type:
                            - 'object'
                            - 'null'
                        prices:
                          additionalProperties: false
                          type: 'object'
                          properties:
                            type:
                              const: 'list'
                              type: 'string'
                            hasMore:
                              type: 'boolean'
                            path:
                              type: 'string'
                            data:
                              type: 'array'
                              items:
                                type: 'object'
                                properties:
                                  id:
                                    type: 'string'
                                  organisation:
                                    type: 'string'
                                  stripePriceId:
                                    type: 'string'
                                  interval:
                                    allOf:
                                      - anyOf:
                                          - type: 'null'
                                          - additionalProperties: false
                                            anyOf:
                                              - const: 'day'
                                                type: 'string'
                                              - const: 'week'
                                                type: 'string'
                                              - const: 'month'
                                                type: 'string'
                                              - const: 'year'
                                                type: 'string'
                                      - anyOf:
                                          - type: 'null'
                                          - anyOf:
                                              - const: 'day'
                                                type: 'string'
                                              - const: 'week'
                                                type: 'string'
                                              - const: 'month'
                                                type: 'string'
                                              - const: 'year'
                                                type: 'string'
                                  intervalCount:
                                    type:
                                      - 'integer'
                                      - 'null'
                                  lineItemId:
                                    type: 'string'
                                  archivedAt:
                                    type:
                                      - 'string'
                                      - 'null'
                                  createdAt:
                                    type: 'string'
                                  updatedAt:
                                    type: 'string'
                                  currencyOptions:
                                    additionalProperties: false
                                    type: 'object'
                                    properties:
                                      type:
                                        const: 'list'
                                        type: 'string'
                                      hasMore:
                                        type: 'boolean'
                                      path:
                                        type: 'string'
                                      data:
                                        type: 'array'
                                        items:
                                          type: 'object'
                                          properties:
                                            id:
                                              type: 'string'
                                            organisation:
                                              type: 'string'
                                            currency:
                                              type: 'string'
                                            unitAmount:
                                              type:
                                                - 'number'
                                                - 'null'
                                            priceId:
                                              type: 'string'
                                            isDefault:
                                              type: 'boolean'
                                            createdAt:
                                              type: 'string'
                                            updatedAt:
                                              type: 'string'
                                            tiers:
                                              type: 'object'
                                              properties:
                                                type:
                                                  const: 'list'
                                                  type: 'string'
                                                data:
                                                  type: 'array'
                                                  items:
                                                    additionalProperties: false
                                                    type: 'object'
                                                    properties:
                                                      id:
                                                        type: 'string'
                                                      organisation:
                                                        type: 'string'
                                                      upTo:
                                                        type: 'string'
                                                      flatAmount:
                                                        type:
                                                          - 'number'
                                                          - 'null'
                                                      unitAmount:
                                                        type: 'number'
                                                      currencyOptionId:
                                                        type: 'string'
                                                      createdAt:
                                                        type: 'string'
                                                      updatedAt:
                                                        type: 'string'
                                                    required:
                                                      - 'id'
                                                      - 'organisation'
                                                      - 'upTo'
                                                      - 'flatAmount'
                                                      - 'unitAmount'
                                                      - 'currencyOptionId'
                                                      - 'createdAt'
                                                      - 'updatedAt'
                                                hasMore:
                                                  type: 'boolean'
                                                path:
                                                  type: 'string'
                                              required:
                                                - 'type'
                                                - 'data'
                                                - 'hasMore'
                                                - 'path'
                                          required:
                                            - 'id'
                                            - 'organisation'
                                            - 'currency'
                                            - 'unitAmount'
                                            - 'priceId'
                                            - 'isDefault'
                                            - 'createdAt'
                                            - 'updatedAt'
                                            - 'tiers'
                                    required:
                                      - 'type'
                                      - 'hasMore'
                                      - 'path'
                                      - 'data'
                                required:
                                  - 'id'
                                  - 'organisation'
                                  - 'stripePriceId'
                                  - 'interval'
                                  - 'intervalCount'
                                  - 'lineItemId'
                                  - 'archivedAt'
                                  - 'createdAt'
                                  - 'updatedAt'
                                  - 'currencyOptions'
                          required:
                            - 'type'
                            - 'hasMore'
                            - 'path'
                            - 'data'
                      required:
                        - 'id'
                        - 'organisation'
                        - 'name'
                        - 'slug'
                        - 'stripeProductId'
                        - 'meterId'
                        - 'nickname'
                        - 'priceType'
                        - 'intervalType'
                        - 'billingScheme'
                        - 'tiersMode'
                        - 'minQuantity'
                        - 'maxQuantity'
                        - 'isActive'
                        - 'planId'
                        - 'allowChangingQuantity'
                        - 'archivedAt'
                        - 'unitLabel'
                        - 'createdAt'
                        - 'updatedAt'
                        - 'meter'
                        - 'prices'
                required:
                  - 'type'
                  - 'hasMore'
                  - 'path'
                  - 'data'
            required:
              - 'id'
              - 'organisation'
              - 'name'
              - 'isActive'
              - 'productId'
              - 'tierTagId'
              - 'trialPeriodDays'
              - 'archivedAt'
              - 'createdAt'
              - 'updatedAt'
      required:
        - 'type'
        - 'previousCursor'
        - 'nextCursor'
        - 'hasMore'
        - 'data'
    GetPlanDetailSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            productId:
              type: 'string'
            tierTagId:
              type:
                - 'string'
                - 'null'
            trialPeriodDays:
              type:
                - 'integer'
                - 'null'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
            product:
              additionalProperties: false
              type: 'object'
              properties:
                id:
                  type: 'string'
                name:
                  type: 'string'
                archivedAt:
                  type:
                    - 'string'
                    - 'null'
              required:
                - 'id'
                - 'name'
                - 'archivedAt'
            tierTag:
              additionalProperties: false
              properties: *ref_0
              required: *ref_1
              type:
                - 'object'
                - 'null'
            subscriptionPlans:
              additionalProperties: false
              type: 'object'
              properties:
                type:
                  const: 'list'
                  type: 'string'
                hasMore:
                  type: 'boolean'
                path:
                  type: 'string'
                data:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      id:
                        type: 'string'
                      organisation:
                        type: 'string'
                      ownerId:
                        type: 'string'
                      groupId:
                        type: 'string'
                      subscriptionId:
                        type: 'string'
                      planId:
                        type:
                          - 'string'
                          - 'null'
                      seats:
                        type: 'integer'
                      status:
                        allOf:
                          - additionalProperties: false
                            anyOf:
                              - const: 'active'
                                type: 'string'
                              - const: 'inactive'
                                type: 'string'
                          - anyOf:
                              - const: 'active'
                                type: 'string'
                              - const: 'inactive'
                                type: 'string'
                      createdAt:
                        type: 'string'
                      updatedAt:
                        type: 'string'
                      subscription:
                        type: 'object'
                        properties:
                          id:
                            type: 'string'
                          organisation:
                            type: 'string'
                          stripeSubscriptionId:
                            type:
                              - 'string'
                              - 'null'
                          ownerId:
                            type: 'string'
                          status:
                            type: 'string'
                          customerId:
                            type:
                              - 'string'
                              - 'null'
                          interval:
                            allOf:
                              - anyOf:
                                  - type: 'null'
                                  - additionalProperties: false
                                    anyOf:
                                      - const: 'day'
                                        type: 'string'
                                      - const: 'week'
                                        type: 'string'
                                      - const: 'month'
                                        type: 'string'
                                      - const: 'year'
                                        type: 'string'
                              - anyOf:
                                  - type: 'null'
                                  - anyOf:
                                      - const: 'day'
                                        type: 'string'
                                      - const: 'week'
                                        type: 'string'
                                      - const: 'month'
                                        type: 'string'
                                      - const: 'year'
                                        type: 'string'
                          intervalCount:
                            type:
                              - 'integer'
                              - 'null'
                          currencyShortCode:
                            type:
                              - 'string'
                              - 'null'
                          cancelAtPeriodEnd:
                            type: 'boolean'
                          isPerpetual:
                            type: 'boolean'
                          isSalableOnly:
                            type: 'boolean'
                          startDate:
                            type: 'string'
                          cancelledAt:
                            type:
                              - 'string'
                              - 'null'
                          createdAt:
                            type: 'string'
                          updatedAt:
                            type: 'string'
                          owner:
                            additionalProperties: false
                            properties:
                              id:
                                type: 'string'
                              organisation:
                                type: 'string'
                              value:
                                type: 'string'
                              stripeCustomerId:
                                anyOf:
                                  - type: 'null'
                                  - type: 'string'
                              emailAddress:
                                anyOf:
                                  - type: 'null'
                                  - type: 'string'
                              createdAt:
                                type: 'string'
                              updatedAt:
                                type: 'string'
                            required:
                              - 'id'
                              - 'organisation'
                              - 'value'
                              - 'stripeCustomerId'
                              - 'emailAddress'
                              - 'createdAt'
                              - 'updatedAt'
                            type:
                              - 'object'
                              - 'null'
                        required:
                          - 'id'
                          - 'organisation'
                          - 'stripeSubscriptionId'
                          - 'ownerId'
                          - 'status'
                          - 'customerId'
                          - 'interval'
                          - 'intervalCount'
                          - 'currencyShortCode'
                          - 'cancelAtPeriodEnd'
                          - 'isPerpetual'
                          - 'isSalableOnly'
                          - 'startDate'
                          - 'cancelledAt'
                          - 'createdAt'
                          - 'updatedAt'
                          - 'owner'
                    required:
                      - 'id'
                      - 'organisation'
                      - 'ownerId'
                      - 'groupId'
                      - 'subscriptionId'
                      - 'planId'
                      - 'seats'
                      - 'status'
                      - 'createdAt'
                      - 'updatedAt'
                      - 'subscription'
              required:
                - 'type'
                - 'hasMore'
                - 'path'
                - 'data'
            entitlements:
              additionalProperties: false
              type: 'object'
              properties:
                type:
                  const: 'list'
                  type: 'string'
                hasMore:
                  type: 'boolean'
                path:
                  type: 'string'
                data:
                  type: 'array'
                  items:
                    additionalProperties: false
                    type: 'object'
                    properties:
                      id:
                        type: 'string'
                      organisation:
                        type: 'string'
                      name:
                        type: 'string'
                      createdAt:
                        type: 'string'
                      updatedAt:
                        type: 'string'
                    required:
                      - 'id'
                      - 'organisation'
                      - 'name'
                      - 'createdAt'
                      - 'updatedAt'
              required:
                - 'type'
                - 'hasMore'
                - 'path'
                - 'data'
            lineItems:
              additionalProperties: false
              type: 'object'
              properties:
                type:
                  const: 'list'
                  type: 'string'
                hasMore:
                  type: 'boolean'
                path:
                  type: 'string'
                data:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      id:
                        type: 'string'
                      organisation:
                        type: 'string'
                      name:
                        type: 'string'
                      slug:
                        type: 'string'
                      stripeProductId:
                        type: 'string'
                      meterId:
                        type:
                          - 'string'
                          - 'null'
                      nickname:
                        type: 'string'
                      priceType:
                        allOf:
                          - additionalProperties: false
                            anyOf:
                              - const: 'metered'
                                type: 'string'
                              - const: 'per_seat'
                                type: 'string'
                              - const: 'flat_rate'
                                type: 'string'
                          - anyOf:
                              - const: 'metered'
                                type: 'string'
                              - const: 'per_seat'
                                type: 'string'
                              - const: 'flat_rate'
                                type: 'string'
                      intervalType:
                        allOf:
                          - additionalProperties: false
                            anyOf:
                              - const: 'one_off'
                                type: 'string'
                              - const: 'recurring'
                                type: 'string'
                          - anyOf:
                              - const: 'one_off'
                                type: 'string'
                              - const: 'recurring'
                                type: 'string'
                      billingScheme:
                        allOf:
                          - additionalProperties: false
                            anyOf:
                              - const: 'fixed'
                                type: 'string'
                              - const: 'per_unit'
                                type: 'string'
                              - const: 'tiered'
                                type: 'string'
                              - const: 'flat_rate'
                                type: 'string'
                          - anyOf:
                              - const: 'flat_rate'
                                type: 'string'
                              - const: 'fixed'
                                type: 'string'
                              - const: 'per_unit'
                                type: 'string'
                              - const: 'tiered'
                                type: 'string'
                      tiersMode:
                        allOf:
                          - anyOf:
                              - type: 'null'
                              - additionalProperties: false
                                anyOf:
                                  - const: 'graduated'
                                    type: 'string'
                                  - const: 'volume'
                                    type: 'string'
                          - anyOf:
                              - type: 'null'
                              - anyOf:
                                  - const: 'graduated'
                                    type: 'string'
                                  - const: 'volume'
                                    type: 'string'
                      minQuantity:
                        type: 'integer'
                      maxQuantity:
                        type: 'integer'
                      isActive:
                        type: 'boolean'
                      planId:
                        type: 'string'
                      allowChangingQuantity:
                        type: 'boolean'
                      archivedAt:
                        type:
                          - 'string'
                          - 'null'
                      unitLabel:
                        type:
                          - 'string'
                          - 'null'
                      createdAt:
                        type: 'string'
                      updatedAt:
                        type: 'string'
                      meter:
                        additionalProperties: false
                        properties: *ref_2
                        required: *ref_3
                        type:
                          - 'object'
                          - 'null'
                      prices:
                        additionalProperties: false
                        type: 'object'
                        properties:
                          type:
                            const: 'list'
                            type: 'string'
                          hasMore:
                            type: 'boolean'
                          path:
                            type: 'string'
                          data:
                            type: 'array'
                            items:
                              type: 'object'
                              properties:
                                id:
                                  type: 'string'
                                organisation:
                                  type: 'string'
                                stripePriceId:
                                  type: 'string'
                                interval:
                                  allOf:
                                    - anyOf:
                                        - type: 'null'
                                        - additionalProperties: false
                                          anyOf:
                                            - const: 'day'
                                              type: 'string'
                                            - const: 'week'
                                              type: 'string'
                                            - const: 'month'
                                              type: 'string'
                                            - const: 'year'
                                              type: 'string'
                                    - anyOf:
                                        - type: 'null'
                                        - anyOf:
                                            - const: 'day'
                                              type: 'string'
                                            - const: 'week'
                                              type: 'string'
                                            - const: 'month'
                                              type: 'string'
                                            - const: 'year'
                                              type: 'string'
                                intervalCount:
                                  type:
                                    - 'integer'
                                    - 'null'
                                lineItemId:
                                  type: 'string'
                                archivedAt:
                                  type:
                                    - 'string'
                                    - 'null'
                                createdAt:
                                  type: 'string'
                                updatedAt:
                                  type: 'string'
                                currencyOptions:
                                  additionalProperties: false
                                  type: 'object'
                                  properties:
                                    type:
                                      const: 'list'
                                      type: 'string'
                                    hasMore:
                                      type: 'boolean'
                                    path:
                                      type: 'string'
                                    data:
                                      type: 'array'
                                      items:
                                        type: 'object'
                                        properties:
                                          id:
                                            type: 'string'
                                          organisation:
                                            type: 'string'
                                          currency:
                                            type: 'string'
                                          unitAmount:
                                            type:
                                              - 'number'
                                              - 'null'
                                          priceId:
                                            type: 'string'
                                          isDefault:
                                            type: 'boolean'
                                          createdAt:
                                            type: 'string'
                                          updatedAt:
                                            type: 'string'
                                          tiers:
                                            type: 'object'
                                            properties:
                                              type:
                                                const: 'list'
                                                type: 'string'
                                              data:
                                                type: 'array'
                                                items:
                                                  additionalProperties: false
                                                  type: 'object'
                                                  properties:
                                                    id:
                                                      type: 'string'
                                                    organisation:
                                                      type: 'string'
                                                    upTo:
                                                      type: 'string'
                                                    flatAmount:
                                                      type:
                                                        - 'number'
                                                        - 'null'
                                                    unitAmount:
                                                      type: 'number'
                                                    currencyOptionId:
                                                      type: 'string'
                                                    createdAt:
                                                      type: 'string'
                                                    updatedAt:
                                                      type: 'string'
                                                  required:
                                                    - 'id'
                                                    - 'organisation'
                                                    - 'upTo'
                                                    - 'flatAmount'
                                                    - 'unitAmount'
                                                    - 'currencyOptionId'
                                                    - 'createdAt'
                                                    - 'updatedAt'
                                              hasMore:
                                                type: 'boolean'
                                              path:
                                                type: 'string'
                                            required:
                                              - 'type'
                                              - 'data'
                                              - 'hasMore'
                                              - 'path'
                                        required:
                                          - 'id'
                                          - 'organisation'
                                          - 'currency'
                                          - 'unitAmount'
                                          - 'priceId'
                                          - 'isDefault'
                                          - 'createdAt'
                                          - 'updatedAt'
                                          - 'tiers'
                                  required:
                                    - 'type'
                                    - 'hasMore'
                                    - 'path'
                                    - 'data'
                              required:
                                - 'id'
                                - 'organisation'
                                - 'stripePriceId'
                                - 'interval'
                                - 'intervalCount'
                                - 'lineItemId'
                                - 'archivedAt'
                                - 'createdAt'
                                - 'updatedAt'
                                - 'currencyOptions'
                        required:
                          - 'type'
                          - 'hasMore'
                          - 'path'
                          - 'data'
                    required:
                      - 'id'
                      - 'organisation'
                      - 'name'
                      - 'slug'
                      - 'stripeProductId'
                      - 'meterId'
                      - 'nickname'
                      - 'priceType'
                      - 'intervalType'
                      - 'billingScheme'
                      - 'tiersMode'
                      - 'minQuantity'
                      - 'maxQuantity'
                      - 'isActive'
                      - 'planId'
                      - 'allowChangingQuantity'
                      - 'archivedAt'
                      - 'unitLabel'
                      - 'createdAt'
                      - 'updatedAt'
                      - 'meter'
                      - 'prices'
              required:
                - 'type'
                - 'hasMore'
                - 'path'
                - 'data'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'productId'
            - 'tierTagId'
            - 'trialPeriodDays'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    CreatePlanResponseSchema:
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          additionalProperties: false
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            productId:
              type: 'string'
            tierTagId:
              type:
                - 'string'
                - 'null'
            trialPeriodDays:
              type:
                - 'integer'
                - 'null'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'productId'
            - 'tierTagId'
            - 'trialPeriodDays'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    UpdatePlanResponseSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          additionalProperties: false
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            productId:
              type: 'string'
            tierTagId:
              type:
                - 'string'
                - 'null'
            trialPeriodDays:
              type:
                - 'integer'
                - 'null'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'productId'
            - 'tierTagId'
            - 'trialPeriodDays'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    SavePlanResponseSchema:
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            name:
              type: 'string'
            isActive:
              type: 'boolean'
            productId:
              type: 'string'
            tierTagId:
              type:
                - 'string'
                - 'null'
            trialPeriodDays:
              type:
                - 'integer'
                - 'null'
            archivedAt:
              type:
                - 'string'
                - 'null'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
            entitlements:
              type: 'array'
              items:
                additionalProperties: false
                type: 'object'
                properties:
                  entitlementId:
                    type: 'string'
                  planId:
                    type: 'string'
                  createdAt:
                    type: 'string'
                  updatedAt:
                    type: 'string'
                required:
                  - 'entitlementId'
                  - 'planId'
                  - 'createdAt'
                  - 'updatedAt'
            tierTag:
              additionalProperties: false
              properties: *ref_0
              required: *ref_1
              type:
                - 'object'
                - 'null'
            lineItems:
              type: 'array'
              items:
                type: 'object'
                properties:
                  id:
                    type: 'string'
                  organisation:
                    type: 'string'
                  name:
                    type: 'string'
                  slug:
                    type: 'string'
                  stripeProductId:
                    type: 'string'
                  meterId:
                    type:
                      - 'string'
                      - 'null'
                  nickname:
                    type: 'string'
                  priceType:
                    allOf:
                      - additionalProperties: false
                        anyOf:
                          - const: 'metered'
                            type: 'string'
                          - const: 'per_seat'
                            type: 'string'
                          - const: 'flat_rate'
                            type: 'string'
                      - anyOf:
                          - const: 'metered'
                            type: 'string'
                          - const: 'per_seat'
                            type: 'string'
                          - const: 'flat_rate'
                            type: 'string'
                  intervalType:
                    allOf:
                      - additionalProperties: false
                        anyOf:
                          - const: 'one_off'
                            type: 'string'
                          - const: 'recurring'
                            type: 'string'
                      - anyOf:
                          - const: 'one_off'
                            type: 'string'
                          - const: 'recurring'
                            type: 'string'
                  billingScheme:
                    allOf:
                      - additionalProperties: false
                        anyOf:
                          - const: 'fixed'
                            type: 'string'
                          - const: 'per_unit'
                            type: 'string'
                          - const: 'tiered'
                            type: 'string'
                          - const: 'flat_rate'
                            type: 'string'
                      - anyOf:
                          - const: 'flat_rate'
                            type: 'string'
                          - const: 'fixed'
                            type: 'string'
                          - const: 'per_unit'
                            type: 'string'
                          - const: 'tiered'
                            type: 'string'
                  tiersMode:
                    allOf:
                      - anyOf:
                          - type: 'null'
                          - additionalProperties: false
                            anyOf:
                              - const: 'graduated'
                                type: 'string'
                              - const: 'volume'
                                type: 'string'
                      - anyOf:
                          - type: 'null'
                          - anyOf:
                              - const: 'graduated'
                                type: 'string'
                              - const: 'volume'
                                type: 'string'
                  minQuantity:
                    type: 'integer'
                  maxQuantity:
                    type: 'integer'
                  isActive:
                    type: 'boolean'
                  planId:
                    type: 'string'
                  allowChangingQuantity:
                    type: 'boolean'
                  archivedAt:
                    type:
                      - 'string'
                      - 'null'
                  unitLabel:
                    type:
                      - 'string'
                      - 'null'
                  createdAt:
                    type: 'string'
                  updatedAt:
                    type: 'string'
                  meter:
                    additionalProperties: false
                    properties: *ref_2
                    required: *ref_3
                    type:
                      - 'object'
                      - 'null'
                  prices:
                    type: 'array'
                    items:
                      type: 'object'
                      properties:
                        id:
                          type: 'string'
                        organisation:
                          type: 'string'
                        stripePriceId:
                          type: 'string'
                        interval:
                          allOf:
                            - anyOf:
                                - type: 'null'
                                - additionalProperties: false
                                  anyOf:
                                    - const: 'day'
                                      type: 'string'
                                    - const: 'week'
                                      type: 'string'
                                    - const: 'month'
                                      type: 'string'
                                    - const: 'year'
                                      type: 'string'
                            - anyOf:
                                - type: 'null'
                                - anyOf:
                                    - const: 'day'
                                      type: 'string'
                                    - const: 'week'
                                      type: 'string'
                                    - const: 'month'
                                      type: 'string'
                                    - const: 'year'
                                      type: 'string'
                        intervalCount:
                          type:
                            - 'integer'
                            - 'null'
                        lineItemId:
                          type: 'string'
                        archivedAt:
                          type:
                            - 'string'
                            - 'null'
                        createdAt:
                          type: 'string'
                        updatedAt:
                          type: 'string'
                        currencyOptions:
                          type: 'array'
                          items:
                            type: 'object'
                            properties:
                              id:
                                type: 'string'
                              organisation:
                                type: 'string'
                              currency:
                                type: 'string'
                              unitAmount:
                                type:
                                  - 'number'
                                  - 'null'
                              priceId:
                                type: 'string'
                              isDefault:
                                type: 'boolean'
                              createdAt:
                                type: 'string'
                              updatedAt:
                                type: 'string'
                              tiers:
                                type: 'array'
                                items:
                                  additionalProperties: false
                                  type: 'object'
                                  properties:
                                    id:
                                      type: 'string'
                                    organisation:
                                      type: 'string'
                                    upTo:
                                      type: 'string'
                                    flatAmount:
                                      type:
                                        - 'number'
                                        - 'null'
                                    unitAmount:
                                      type: 'number'
                                    currencyOptionId:
                                      type: 'string'
                                    createdAt:
                                      type: 'string'
                                    updatedAt:
                                      type: 'string'
                                  required:
                                    - 'id'
                                    - 'organisation'
                                    - 'upTo'
                                    - 'flatAmount'
                                    - 'unitAmount'
                                    - 'currencyOptionId'
                                    - 'createdAt'
                                    - 'updatedAt'
                            required:
                              - 'id'
                              - 'organisation'
                              - 'currency'
                              - 'unitAmount'
                              - 'priceId'
                              - 'isDefault'
                              - 'createdAt'
                              - 'updatedAt'
                              - 'tiers'
                      required:
                        - 'id'
                        - 'organisation'
                        - 'stripePriceId'
                        - 'interval'
                        - 'intervalCount'
                        - 'lineItemId'
                        - 'archivedAt'
                        - 'createdAt'
                        - 'updatedAt'
                        - 'currencyOptions'
                required:
                  - 'id'
                  - 'organisation'
                  - 'name'
                  - 'slug'
                  - 'stripeProductId'
                  - 'meterId'
                  - 'nickname'
                  - 'priceType'
                  - 'intervalType'
                  - 'billingScheme'
                  - 'tiersMode'
                  - 'minQuantity'
                  - 'maxQuantity'
                  - 'isActive'
                  - 'planId'
                  - 'allowChangingQuantity'
                  - 'archivedAt'
                  - 'unitLabel'
                  - 'createdAt'
                  - 'updatedAt'
                  - 'meter'
                  - 'prices'
          required:
            - 'id'
            - 'organisation'
            - 'name'
            - 'isActive'
            - 'productId'
            - 'tierTagId'
            - 'trialPeriodDays'
            - 'archivedAt'
            - 'createdAt'
            - 'updatedAt'
            - 'entitlements'
            - 'lineItems'
      required:
        - 'type'
        - 'data'
    GetApiKeyListSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'list'
          type: 'string'
        data:
          type: 'array'
          items:
            additionalProperties: false
            type: 'object'
            properties:
              id:
                type: 'string'
              value:
                type: 'string'
              organisation:
                type: 'string'
              type:
                allOf:
                  - additionalProperties: false
                    anyOf:
                      - const: 'publishable'
                        type: 'string'
                      - const: 'secret'
                        type: 'string'
                      - const: 'restricted'
                        type: 'string'
                  - anyOf:
                      - const: 'publishable'
                        type: 'string'
                      - const: 'secret'
                        type: 'string'
                      - const: 'restricted'
                        type: 'string'
              createdAt:
                type: 'string'
              updatedAt:
                type: 'string'
            required:
              - 'id'
              - 'value'
              - 'organisation'
              - 'type'
              - 'createdAt'
              - 'updatedAt'
        nextCursor:
          type:
            - 'string'
            - 'null'
        previousCursor:
          type:
            - 'string'
            - 'null'
        hasMore:
          type: 'boolean'
      required:
        - 'type'
        - 'data'
        - 'nextCursor'
        - 'previousCursor'
        - 'hasMore'
    GetApiKeyDetailSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          additionalProperties: false
          type: 'object'
          properties:
            id:
              type: 'string'
            value:
              type: 'string'
            organisation:
              type: 'string'
            type:
              allOf:
                - additionalProperties: false
                  anyOf:
                    - const: 'publishable'
                      type: 'string'
                    - const: 'secret'
                      type: 'string'
                    - const: 'restricted'
                      type: 'string'
                - anyOf:
                    - const: 'publishable'
                      type: 'string'
                    - const: 'secret'
                      type: 'string'
                    - const: 'restricted'
                      type: 'string'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
          required:
            - 'id'
            - 'value'
            - 'organisation'
            - 'type'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    CreateApiKeyResponseSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          additionalProperties: false
          type: 'object'
          properties:
            id:
              type: 'string'
            value:
              type: 'string'
            organisation:
              type: 'string'
            type:
              allOf:
                - additionalProperties: false
                  anyOf:
                    - const: 'publishable'
                      type: 'string'
                    - const: 'secret'
                      type: 'string'
                    - const: 'restricted'
                      type: 'string'
                - anyOf:
                    - const: 'publishable'
                      type: 'string'
                    - const: 'secret'
                      type: 'string'
                    - const: 'restricted'
                      type: 'string'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
          required:
            - 'id'
            - 'value'
            - 'organisation'
            - 'type'
            - 'createdAt'
            - 'updatedAt'
      required:
        - 'type'
        - 'data'
    GetCartListSchema:
      type: 'object'
      properties:
        type:
          const: 'list'
          type: 'string'
        data:
          type: 'array'
          items:
            type: 'object'
            properties:
              id:
                type: 'string'
              organisation:
                type: 'string'
              ownerId:
                type: 'string'
              currency:
                type:
                  - 'string'
                  - 'null'
              interval:
                allOf:
                  - anyOf:
                      - type: 'null'
                      - additionalProperties: false
                        anyOf:
                          - const: 'day'
                            type: 'string'
                          - const: 'week'
                            type: 'string'
                          - const: 'month'
                            type: 'string'
                          - const: 'year'
                            type: 'string'
                  - anyOf:
                      - type: 'null'
                      - anyOf:
                          - const: 'day'
                            type: 'string'
                          - const: 'week'
                            type: 'string'
                          - const: 'month'
                            type: 'string'
                          - const: 'year'
                            type: 'string'
              intervalCount:
                type:
                  - 'integer'
                  - 'null'
              status:
                allOf:
                  - additionalProperties: false
                    anyOf:
                      - const: 'active'
                        type: 'string'
                      - const: 'abandoned'
                        type: 'string'
                      - const: 'complete'
                        type: 'string'
                  - anyOf:
                      - const: 'active'
                        type: 'string'
                      - const: 'abandoned'
                        type: 'string'
                      - const: 'complete'
                        type: 'string'
              createdAt:
                type: 'string'
              updatedAt:
                type: 'string'
              owner:
                additionalProperties: false
                type: 'object'
                properties:
                  id:
                    type: 'string'
                  organisation:
                    type: 'string'
                  value:
                    type: 'string'
                  stripeCustomerId:
                    type:
                      - 'string'
                      - 'null'
                  emailAddress:
                    type:
                      - 'string'
                      - 'null'
                  createdAt:
                    type: 'string'
                  updatedAt:
                    type: 'string'
                required:
                  - 'id'
                  - 'organisation'
                  - 'value'
                  - 'stripeCustomerId'
                  - 'emailAddress'
                  - 'createdAt'
                  - 'updatedAt'
            required:
              - 'id'
              - 'organisation'
              - 'ownerId'
              - 'currency'
              - 'interval'
              - 'intervalCount'
              - 'status'
              - 'createdAt'
              - 'updatedAt'
        nextCursor:
          type:
            - 'string'
            - 'null'
        previousCursor:
          type:
            - 'string'
            - 'null'
        hasMore:
          type: 'boolean'
      required:
        - 'type'
        - 'data'
        - 'nextCursor'
        - 'previousCursor'
        - 'hasMore'
    GetCartDetailSchema:
      additionalProperties: false
      type: 'object'
      properties:
        type:
          const: 'object'
          type: 'string'
        data:
          type: 'object'
          properties:
            id:
              type: 'string'
            organisation:
              type: 'string'
            ownerId:
              type: 'string'
            currency:
              type:
                - 'string'
                - 'null'
            interval:
              allOf:
                - anyOf:
                    - type: 'null'
                    - additionalProperties: false
                      anyOf:
                        - const: 'day'
                          type: 'string'
                        - const: 'week'
                          type: 'string'
                        - const: 'month'
                          type: 'string'
                        - const: 'year'
                          type: 'string'
                - anyOf:
                    - type: 'null'
                    - anyOf:
                        - const: 'day'
                          type: 'string'
                        - const: 'week'
                          type: 'string'
                        - const: 'month'
                          type: 'string'
                        - const: 'year'
                          type: 'string'
            intervalCount:
              type:
                - 'integer'
                - 'null'
            status:
              allOf:
                - additionalProperties: false
                  anyOf:
                    - const: 'active'
                      type: 'string'
                    - const: 'abandoned'
                      type: 'string'
                    - const: 'complete'
                      type: 'string'
                - anyOf:
                    - const: 'active'
                      type: 'string'
                    - const: 'abandoned'
                      type: 'string'
                    - const: 'complete'
                      type: 'string'
            createdAt:
              type: 'string'
            updatedAt:
              type: 'string'
            owner:
              additionalProperties: false
              type: 'object'
              properties:
                id:
                  type: 'string'
                organisation:
                  type: 'string'
                value:
                  type: 'string'
                stripeCustomerId:
                  type:
                    - 'string'
                    - 'null'
                emailAddress:
                  type:
                    - 'string'
                    - 'null'
                createdAt:
                  type: 'string'
                updatedAt:
                  type: 'string'
              required:
                - 'id'
                - 'organisation'
                - 'value'
                - 'stripeCustomerId'
                - 'emailAddress'
                - 'createdAt'
                - 'updatedAt'
            cartItems:
              additionalProperties: false
              type: 'object'
              properties:
                type:
                  const: 'list'
                  type: 'string'
                data:
                  type: 'array'
                  items:
                    type: 'object'
                    properties:
                      id:
                        type: 'string'
                      organisation:
                        type: 'string'
                      cartId:
                        type: 'string'
                      planId:
                        type: 'string'
                      metadata:
                        anyOf:
                          - type: 'null'
                          - {}
                      granteeId:
                        type:
                          - 'string'
                          - 'null'
                      groupId:
                        type:
                          - 'string'
                          - 'null'
                      createdAt:
                        type: 'string'
                      updatedAt:
                        type: 'string'
                      plan:
                        type: 'object'
                        properties:
                          id:
                            type: 'string'
                          organisation:
                            type: 'string'
                          name:
                            type: 'string'
                          isActive:
                            type: 'boolean'
                          productId:
                            type: 'string'
                          tierTagId:
                            type:
                              - 'string'
                              - 'null'
                          trialPeriodDays:
                            type:
                              - 'integer'
                              - 'null'
                          archivedAt:
                            type:
                              - 'string'
                              - 'null'
                          createdAt:
                            type: 'string'
                          updatedAt:
                            type: 'string'
                          product:
                            additionalProperties: false
                            type: 'object'
                            properties:
                              type:
                                const: 'object'
                                type: 'string'
                              data:
                                additionalProperties: false
                                type: 'object'
                                properties:
                                  id:
                                    type: 'string'
                                  organisation:
                                    type: 'string'
                                  name:
                                    type: 'string'
                                  isActive:
                                    type: 'boolean'
                                  archivedAt:
                                    type:
                                      - 'string'
                                      - 'null'
                                  createdAt:
                                    type: 'string'
                                  updatedAt:
                                    type: 'string'
                                required:
                                  - 'id'
                                  - 'organisation'
                                  - 'name'
                                  - 'isActive'
                                  - 'archivedAt'
                                  - 'createdAt'
                                  - 'updatedAt'
                            required:
                              - 'type'
                              - 'data'
                          lineItems:
                            type: 'object'
                            properties:
                              type:
                                const: 'list'
                                type: 'string'
                              data:
                                type: 'array'
                                items:
                                  type: 'object'
                                  properties:
                                    id:
                                      type: 'string'
                                    organisation:
                                      type: 'string'
                                    name:
                                      type: 'string'
                                    slug:
                                      type: 'string'
                                    stripeProductId:
                                      type: 'string'
                                    meterId:
                                      type:
                                        - 'string'
                                        - 'null'
                                    nickname:
                                      type: 'string'
                                    priceType:
                                      allOf:
                                        - additionalProperties: false
                                          anyOf:
                                            - const: 'metered'
                                              type: 'string'
                                            - const: 'per_seat'
                                              type: 'string'
                                            - const: 'flat_rate'
                                              type: 'string'
                                        - anyOf:
                                            - const: 'metered'
                                              type: 'string'
                                            - const: 'per_seat'
                                              type: 'string'
                                            - const: 'flat_rate'
                                              type: 'string'
                                    intervalType:
                                      allOf:
                                        - additionalProperties: false
                                          anyOf:
                                            - const: 'one_off'
                                              type: 'string'
                                            - const: 'recurring'
                                              type: 'string'
                                        - anyOf:
                                            - const: 'one_off'
                                              type: 'string'
                                            - const: 'recurring'
                                              type: 'string'
                                    billingScheme:
                                      allOf:
                                        - additionalProperties: false
                                          anyOf:
                                            - const: 'fixed'
                                              type: 'string'
                                            - const: 'per_unit'
                                              type: 'string'
                                            - const: 'tiered'
                                              type: 'string'
                                            - const: 'flat_rate'
                                              type: 'string'
                                        - anyOf:
                                            - const: 'flat_rate'
                                              type: 'string'
                                            - const: 'fixed'
                                              type: 'string'
                                            - const: 'per_unit'
                                              type: 'string'
                                            - const: 'tiered'
                                              type: 'string'
                                    tiersMode:
                                      allOf:
                                        - anyOf:
                                            - type: 'null'
                                            - additionalProperties: false
                                              anyOf:
                                                - const: 'graduated'
                                                  type: 'string'
                                                - const: 'volume'
                                                  type: 'string'
                                        - anyOf:
                                            - type: 'null'
                                            - anyOf:
                                                - const: 'graduated'
                                                  type: 'string'
                                                - const: 'volume'
                                                  type: 'string'
                                    minQuantity:
                                      type: 'integer'
                                    maxQuantity:
                                      type: 'integer'
                                    isActive:
                                      type: 'boolean'
                                    planId:
                                      type: 'string'
                                    allowChangingQuantity:
                                      type: 'boolean'
                                    archivedAt:
                                      type:
                                        - 'string'
                                        - 'null'
                                    unitLabel:
                                      type:
                                        - 'string'
                                        - 'null'
                                    createdAt:
                                      type: 'string'
                                    updatedAt:
                                      type: 'string'
                                    prices:
                                      additionalProperties: false
                                      type: 'object'
                                      properties:
                                        type:
                                          const: 'list'
                                          type: 'string'
                                        data:
                                          type: 'array'
                                          items:
                                            type: 'object'
                                            properties:
                                              id:
                                                type: 'string'
                                              organisation:
                                                type: 'string'
                                              stripePriceId:
                                                type: 'string'
                                              interval:
                                                allOf:
                                                  - anyOf:
                                                      - type: 'null'
                                                      - additionalProperties: false
                                                        anyOf:
                                                          - const: 'day'
                                                            type: 'string'
                                                          - const: 'week'
                                                            type: 'string'
                                                          - const: 'month'
                                                            type: 'string'
                                                          - const: 'year'
                                                            type: 'string'
                                                  - anyOf:
                                                      - type: 'null'
                                                      - anyOf:
                                                          - const: 'day'
                                                            type: 'string'
                                                          - const: 'week'
                                                            type: 'string'
                                                          - const: 'month'
                                                            type: 'string'
                                                          - const: 'year'
                                                            type: 'string'
                                              intervalCount:
                                                type:
                                                  - 'integer'
                                                  - 'null'
                                              lineItemId:
                                                type: 'string'
                                              archivedAt:
                                                type:
                                                  - 'string'
                                                  - 'null'
                                              createdAt:
                                                type: 'string'
                                              updatedAt:
                                                type: 'string'
                                              currencyOptions:
                                                type: 'object'
                                                properties:
                                                  type:
                                                    const: 'list'
                                                    type: 'string'
                                                  data:
                                                    type: 'array'
                                                    items:
                                                      additionalProperties: false
                                                      type: 'object'
                                                      properties:
                                                        id:
                                                          type: 'string'
                                                        organisation:
                                                          type: 'string'
                                                        currency:
[...]
